@media screen and (max-width: 760px) {
    .cabecalho {
       flex-direction: column;     
       row-gap: 25px; 
    }
    .principal {
        flex-direction: column;
    }

    .principal-logo {
        max-width: 150px;
    }

    .principal-link {
        max-width: 150px;
    }

    .switch > img {
        max-width: 150px;
    }

    .eshop img {
        max-width: 150px;
    }
}
